h1{
    color: blue;
    background-color: lightgray;
}

.main{
    width: 80%;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
}

img{
    width: 200px;
    height: 120px;
    margin: 10px;
    border-radius: 15%;
    border: 2px solid black;
}